@media (max-width: 1030px) {
  .menu a{

    margin: 0;

} 
.enlaces a{
  margin: 10px;
}




  } 


  


  @media (max-width: 800px) { 
    .pr{
      font-size: 18px;

    }
    .menu a{
   
      margin: 25px;
  
  }  
  .sombra{
    max-width: 200px;
  
  }
  
  
  .brand{
    display: flex;
    justify-content: center;
  }
  
  .skills-bar-container {
    display: flex;
      width: 90%;
      max-width: 100px;
    flex-flow: column wrap;
      
      list-style: none;
    }
    }

  @media (max-width: 1300px) {
 
   
  .text{
    display: flex;
    flex-flow: column wrap;
    align-items: center; 
 margin: 0px;
  }  
  .space{
    margin: 50px; 
    display: flex;
    flex-flow: column wrap;
    align-items: center; 

  }  


    }





  @media (min-width: 1445px) {
    body{

      background-size: cover;
    } 
    

  }  
  @media (max-width:1200px){

    .perfil{
      width: 320px;
    } 
   
    
  } 
  @media (max-width:500px){ 


    header{
      -webkit-background-color: rgba(75, 75, 75, 0.078);
      -webkit-backdrop-filter: blur(10px);
      -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      
      background-color: rgba(75, 75, 75, 0.078);
      backdrop-filter: blur(10px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    
    }  


    .info{
      color: white; 
      display: flex; 
    justify-content: space-between;
      align-items: center;  
      font-weight: 100; 
      padding: 20px; 
    }  
    .info .boxi{
      text-align: center;
    }
    .info span{
      font-size: 40px; 
      font-weight: bold;
    }
    
    .brand{
      display: none;
    }
    .menu a{
   
      margin: 25px;
  
  }   
  h1{
    font-size: 40px;
  }   
  .image-logo{
    display: none;
  }
  .container-fluid{
padding: 0;
  }

  }
  @-webkit-keyframes aparicion {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }
  
  @keyframes aparicion {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
  }





/* Estilo para el botón de desplegar */


.menu2 {
  display: flex; 
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;  
  margin: 0 auto;
  width: 90%;
  border-radius: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out; 
	-webkit-background-color: rgba(75, 75, 75, 0.078);
	-webkit-backdrop-filter: blur(10px);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
  background-color: rgba(75, 75, 75, 0.078);
	backdrop-filter: blur(10px);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Estilo para el botón de desplegar */


/* Estilos para el menú desplegable en pantallas pequeñas (menos de 700px) */
@media screen and (max-width: 500px) {   
  .container-fluid {
    overflow: visible; 
   
  } 
  .menu2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;  
    margin: 0 auto;
    width: 90%;
    border-radius: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out; 
    -webkit-background-color: rgba(75, 75, 75, 0.078);
    -webkit-backdrop-filter: blur(10px);
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    background-color: rgba(75, 75, 75, 0.078);
    backdrop-filter: blur(10px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
 
  .menu { 
    transition: 0.3s  ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none; 
    height: 100vh;
  }
  
  /* Estilo para el menú desplegable */
  
  .menu2 a {
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff; 
    transition: 0.3s  ease-in-out; 
    font-weight: bold; 
    font-family: 'Inter', sans-serif; 
  }
  




  
}

 