*{ 
 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
    font-family: 'Inter', sans-serif;

}   
#content {
  transition: opacity 0.5s ease;
}


body{
    background-image: url(../img/fondo.jpg);  
    background-position: top;
    animation: aparicion 1s ease-in-out; 
    overflow-x: hidden;   
    height: 100vh;

} 



.container-fluid {
  overflow-x: hidden; 
 
} 
.info{
  color: white; 
  display: flex; 
justify-content: space-between;
  align-items: center;  
  font-weight: 100;
} 
.info span{
  font-size: 60px; 
  font-weight: bold;
}
.menu{ 
position: fixed;
  display: flex; 
  flex-flow: column wrap;
  justify-content: center; 
  background-color: red;   
  z-index: 9999;
  height: 100vh; 
  -webkit-background-color: rgba(75, 75, 75, 0.078);
	-webkit-backdrop-filter: blur(5px);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(75, 75, 75, 0.078);
	backdrop-filter: blur(5px);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.menu a{
    text-decoration: none; 
    color: white;  
    font-size: 13px; 
    border-bottom:  2px solid #bb00ff00; 
    padding: 10px; 
    transition: ease-in-out 0.3s;
    margin-left: 15px; 
  margin-right: 15px;  
  margin-top: 10px;
  
   
    
}  
.enlaces a{
  margin: 30px;
  transition: ease-in-out 0.3s; 
  filter: brightness(0.5);
} 
.enlaces a:hover{
filter: brightness(12.5); 
transition: ease-in-out 0.3s;
}   



.menu a:hover { 
   transform: translateY(-5px);
    transition: ease-in-out 0.3s; 
    color: rgb(164, 162, 162);

}  
.hover-activo:hover,
.hover-activo.activo {
  border-bottom:  2px solid #ffffff;  
    transition: ease-in-out 0.5s; 
    color: rgb(164, 162, 162);
}


.btn{
  background-color: #bb00ff; 
  border-radius: 0; 
  font-size: 13px; 
  filter: none;
} 
.box-imagen{
background-color: #1E1E1E; 
width: 100%;
}
.btna{
  color: #bb00ff; 
  text-decoration: none;
}
.text a{
transition: ease-in-out 0.1s; 

} 
.text a:hover{ 
  transform: scale(0.9);
  transition: ease-in-out 0.1s; 
  
  }
.flex{
  fill: #bb00ff;
} 

.text{
  display: flex;
  flex-flow: column;
  align-items: flex-start;  
  margin:1px;
} 
.box{ 
  background-color: #1E1E1E; 
  padding: 50px;
}



.sombra{

width: 300px; 
transition: ease-in-out 0.3s;
} 
.sombra:hover{
  transform: scale(1.05); 
  transition: ease-in-out 0.3s;
}


.space{
  margin-top: 30px; 

}

 .texto .pr{
  font-size: 13px; 
  color: white;
}
  h2{
    font-size: 20px; 
  margin-top: 20px;
  }
  .perfil{
    width: 650px;
    padding: 30px; 
    animation: aparicion 2s ease-in-out;
    
  }  
  .texto{ 
    position: relative; 
    left: -90px;
    padding: 10px; 
    animation: aparicion 3s ease-in-out; 
    width: 100%;
  }

  h1{
     font-size: 120px; 
     color: white; 
     font-weight: bold; 
     padding: 0; 
     margin: 0;
  } 
  h2{
    font-size: 45px; 
    color: white; 
    font-weight: bold;  
    letter-spacing: 40px;  
    padding: 0;
     margin: 0;
  }  
  h3{
    font-size: 45px; 
    color: rgb(183, 183, 183); 
    font-weight: lighter;   
    width: 100%;
   
    
  } 


 
.target{
  background-color: #1E1E1E;
} 
.target p{
  background-color: #1E1E1E; 
  font-size: 13px;
}

footer p{
  font-size: 13px;
}


.poli {
  position: absolute;
  -webkit-animation: rote 5s infinite linear;
          animation: rote 5s infinite linear;
  transition: 4s ease-in-out;
}
.poli-2 {  
  display: none;
  position: absolute;
  -webkit-animation: rote 5s infinite linear;
          animation: rote 5s infinite linear;
  transition: 4s ease-in-out;
} 
.poli-3 { 

  position: absolute;
  -webkit-animation: rote 5s infinite linear;
          animation: rote 5s infinite linear;
  transition: 4s ease-in-out; 
  right: 200px;
}



@-webkit-keyframes rote {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rote {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





header{
  position: fixed;
	top: 0;
	left: 0;
	right: 0; 
  
	background-color: rgba(0, 0, 0, 0);
	z-index: 1000;
	transition: background-color 0.3s ease-in-out;
}
header.scrolled {
	-webkit-background-color: rgba(75, 75, 75, 0.078);
	-webkit-backdrop-filter: blur(10px);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  
  background-color: rgba(75, 75, 75, 0.078);
	backdrop-filter: blur(10px);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

} 
.image-logo {
  position: absolute;
  z-index: -1;
  top: 20px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center; 


  pointer-events: all;
  color: black;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  padding-bottom: 0.1em;
} 
@media screen and (max-width: 1000px){

 
  h1{
    font-size: 40px; 
    color: white; 
    font-weight: bold; 
    padding: 0; 
    margin: 0;
 } 
 h2{
   font-size: 35px; 
   color: white; 
   font-weight: bold;  
   letter-spacing: 10px;  
   padding: 0;
    margin: 0;
 }  
 h3{
   font-size: 25px; 
   color: rgb(183, 183, 183); 
   font-weight: lighter;   
   width: 100%;
  
   
 } 
 .texto{ 
  position: relative; 
  left: 0px;
  padding: 10px; 
  animation: aparicion 3s ease-in-out; 
  width: 100%; 
  text-align: center;
}

}
